<!DOCTYPE html>
<html lang="{{ site.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {{ if eq .Title site.Title }}
    {{ site.Title }}
    {{ else }}
    {{ with .Title }}{{ . }} | {{ end }}{{ site.Title }}
    {{ end }}
  </title>
  <link rel="canonical" href="{{ .Permalink }}">
  {{ range .AlternativeOutputFormats }}
  {{ printf "<link rel=%q type=%q href=%q title=%q>" .Rel .MediaType .Permalink site.Title | safeHTML }}
  {{ end }}
  {{ $css := resources.Get "css/base.css" }}
  {{ $style := resources.PostCSS $css }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
  {{ range .Scratch.GetSortedMapValues "js" }}
  <script defer src="{{ .Permalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous"></script>
  {{ end }}
</head>
<body>
  {{ partialCached "banner.html" . }}
  <main>
    <div class="container max-w-2xl mx-auto pt-20">
      {{ block "main" . }}{{ end }}
    </div>
  </main>
  {{ partialCached "footer.html" . }}
</body>
</html>
