<nav>
  <div class="px-2 bg-teal-700 fixed w-full">
    <ul class="flex h-full list-none m-0">
        <li class="p-4">
          <a class="inline font-medium text-xl text-white" href="{{ "" | absURL }}">{{ site.Title }}</a>
        </li>
        {{ range site.Menus.main }}
        <li class="flex hover:bg-teal-800 h-full content-center p-4">
          <a class="inline font-light text-xl text-white" href="{{ .URL | absURL }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
