<div class="flex flex-row flex-1 block py-4 m-0">
  {{ with .PublishDate | default nil }}
  <div class="flex-initial align-center px-4 pt-1">
    <time class="align-middle" datetime="{{ .Format "2006-01-02T15:04:05Z07:00" }}">
      {{ .Format "02 Jan" }}
    </time>
  </div>
  {{ end }}
  <div class="flex flex-col flex-auto">
    <span>
      <a class="align-middle font-medium text-2xl clickable-title" href="{{ .Permalink }}" rel="bookmark">{{ .Title }}</a>
    </span>
    <span>
      <a>{{ .Description }}</a>
    </span>
  </div>
</div>
